<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ebay.cardmonitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/samwhite/Documents/ebay-search/venv/bin/python</string>
        <string>/Users/samwhite/Documents/ebay-search/ebay_card_monitor.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/samwhite/Documents/ebay-search</string>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>StandardOutPath</key>
    <string>/Users/samwhite/Documents/ebay-search/monitor.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/samwhite/Documents/ebay-search/monitor_error.log</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
